<h1>Sign-Up Form</h1>

<form #signup="ngForm" (ngSubmit)="register(signup)">
    <label>Name</label><br>
    <input type="text" name="name" id="name" ngModel required #fullname="ngModel"><br>
    <label>Email</label><br>
    <input type="email" name="email" id="email" ngModel required><br>
    <label>Mobile</label><br>
    <input type="mobile" name="mobile" id="mobile" ngModel required><br>
    <label>Password</label><br>
    <input type="password" name="password" id="password" ngModel required><br>
    <input type="submit" value="Sign Up">
   
</form>
<p>Form element status {{signup.value | json}}</p>
<p>Name {{fullname.value}}</p>
