<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="dbcs" connectionString="Data Source=RAGHUPRASAD;Initial Catalog=flatworldsep2022;Integrated Security=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
<!--
	<connectionStrings>
		<add name="Name"
		 providerName="System.Data.ProviderName"
		 connectionString="Valid Connection String;" />
	</connectionStrings>-->
</configuration>